body{
    background-color: hsl(214, 94%, 20%);
}
a{
    color: white;
    text-decoration: underline;
}
h1{
    color: white;
}
img{
width: 100px;
height: 100px;
border-radius: 50px;
border: solid 5px black;
}
