body{
    background-color: hsl(214, 94%, 20%);
}
a{
    color: white;
    text-decoration: underline;
}
h1{
    color: white;
    margin: 0 50px 0 50px;
}
img{
width: 300px;
height: 300px;
border-radius: 150px;
}
.texto-centro{
    text-aling: center;
}
.img-centro{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    heigth: auto;
}
.enlase-centro{
    display: block;
    text-aling: center;
    width: 100%;
}
